body, h1, h2, h3, p, ul{
	padding: 0px;
	margin: 0px;
}

/*    HEADER     */

.menu {
	background: #252525;
	padding: 20px 0;
}

.menu-container {
	max-width: 720px;
	margin: 0 auto;
}

.menu-container .menu-nav{
	float: right;
	padding: 15px 0;
}

.menu-container .menu-nav a {
	display: block;
	text-decoration: none;
	color: #fff;
	font-size: 1.125em;
}

.menu-nav a::after{
	content: "";
	display: block;
	background-color: #fff;
	height: 2px;
	width: 0px;
	transition: 0.3s;
}

.menu-nav a:hover::after{
	width: 100%;
}

@media (max-width: 740px) {
	.menu-container{
		max-width: 360px;
	}
}

@media (max-width: 480px) {
	.menu-container {
	max-width: 300px;
	text-align: center;
	}
	.menu-container .menu-nav {
		float: none;
	}
}

/*		MENSAGEM ERRO		*/

#principal{
	background: url("../bg-intro.jpg")no-repeat center center;
	padding: 260px 0;
	background-size: cover;
}

.container-erro{
	max-width: 960px;
	margin: 0 auto;
}

.container-erro h2{
	color: #fff;
	font-size: 7.25em;
	text-align: center;
	margin: 0 0;
	padding: 15px 0;
}

.container-erro h2::after{
	content: "";
	background: #fff;
	width: 20px;
	height: 4px;
	display: block;
	margin: 10px auto 0 auto;

}

.container-erro p{
	font-style: italic;
	color: #fff;
	font-size: 1.25em;
	text-align: center;
	margin: 10px 0;
}

@media (max-width: 740px){
	#principal{
		padding: 160px 0;
	}
}

/*		FOOTER 		  */

.footer {
	background: #d6d3c8;
	padding: 40px 0;
	border-top: 5px solid #e7e4d8;
	border-bottom: 3px solid #d6d3c8;
}

.footer-container {
	max-width: 960px;
	margin: 0 auto;
}

.footer-container::after, .footer-container::before {
	content: '';
	display: table;
	clear: both;
}

.footer p {
	float: left;
	margin: 0 10px;
	font-size: 1.125em;
	line-height: 1.4em;
}

.footer img {
	float: right;
	margin: 0 10px;
	display: block;
}

@media (max-width: 740px) {
	.footer-container {
		max-width: 300px;
	}
	.footer p {
		float: none;
		margin: 0px;
	}
	.footer img {
		float: none;
		margin: 20px 0;
	}
}